{% extends "bookings/base.html" %}

{% block title %}Оплата{% endblock %}

{% block content %}
<style>
  body {
        background-image: url('https://imgcdn.stablediffusionweb.com/2024/2/28/368e993c-1066-406a-ae03-0ce2450c5a10.jpg');
        background-position: center center;
        background-size: 100%;
        color: #ffffff;
        background-attachment: fixed;
      }

  .balance{
    color: #ffffff;
  }
</style>
<div class="payment-page">
<div class="balance">Баланс: {{ user_balance }} грн</div>

    <h2>Оплата</h2>
    <form method ="post" id="payForm" class="payment-form">
        <input type="text" id="name" placeholder="Ім’я та прізвище" class="payment-input" required>
        <input type="text" id="card" placeholder="Номер картки" maxlength="16" class="payment-input" required>
        <input type="text" id="exp" placeholder="MM/YY" maxlength="5" class="payment-input" required>
        <input type="text" id="cvc" placeholder="CVC" maxlength="3" class="payment-input" required>
        {% csrf_token %}
        <input type="number" name="{{ form.amount.name }}" placeholder="Сума" value="{{ form.amount.value|default:'' }}" class="payment-input" required>
        <button type="submit" class="payment-button">Сплатити</button>
        <div id="success">Успішно сплачено</div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
// Лише букви для імені
const nameInput=document.getElementById('name');
nameInput.addEventListener('input',()=>{ nameInput.value=nameInput.value.replace(/[^a-zA-ZА-Яа-яЇїІіЄєҐґ\s]/g,''); });

// Лише цифри для картки
const cardInput=document.getElementById('card');
cardInput.addEventListener('input',()=>{ cardInput.value=cardInput.value.replace(/\D/g,''); });

// Лише цифри для CVC
const cvcInput=document.getElementById('cvc');
cvcInput.addEventListener('input',()=>{ cvcInput.value=cvcInput.value.replace(/\D/g,''); });

// MM/YY формат
const expInput=document.getElementById('exp');
expInput.addEventListener('input',()=>{ 
    let v=expInput.value.replace(/\D/g,'').slice(0,4);
    if(v.length>2){ v=v.slice(0,2)+'/'+v.slice(2); }
    expInput.value=v;
});

</script>
{% endblock %}